.small-text {
  font-size: 0.9em;
}

.awards-list {
  font-size: 0.8em; /* smaller text */
}

section#awards .container {
  max-width: 100%;  /* removes width restriction */
  padding-left: 1rem;          /* optional: add padding so text isn’t at the edge */
  padding-right: 1rem;
}